#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
background: #FCE5E6;
background: linear-gradient(90deg, rgba(252, 229, 230, 1) 0%, rgba(208, 245, 236, 1) 100%);
}

.main-container{
  background-color: #FFFCF6;
}

.sub-color-1{
  color: #050869;
}

.sub-color-2{
  color: #DF537A
}

.sub-color-3{
  color: #FFFCF6;
}

.main-gradient {
  background: #FCE5E6;
background: linear-gradient(90deg, rgba(252, 229, 230, 1) 0%, rgba(208, 245, 236, 1) 100%);
}

.sub-gradient{
 background: #FCE5E6;
background: linear-gradient(90deg, rgba(252, 229, 230, 1) 100%, rgba(255, 252, 246, 1) 0%);
}

.sub-gradient-2 {
  background: #FCE5E6;
  background: linear-gradient(165deg, rgba(255, 252, 246, 1) 70%, rgba(252, 229, 230, 1) 0%);
}