#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
background: #FCE5E6;
background: linear-gradient(90deg, rgba(252, 229, 230, 1) 0%, rgba(208, 245, 236, 1) 100%);
}

.main-container{
  background-color: #FFFCF6;
}

.sub-color-1{
  color: #050869;
}

.sub-color-2{
  color: #DF537A
}

.main-gradient {
  background: #FCE5E6;
background: linear-gradient(90deg, rgba(252, 229, 230, 1) 0%, rgba(208, 245, 236, 1) 100%);
}